proxmox_endpoint  = "https://pve.example.internal:8006/api2/json"
proxmox_api_token = "REPLACE_OUTSIDE_GIT"
proxmox_insecure  = false
proxmox_ssh_username = "root"

nodes = {
  "ftn-core" = {
    node_name    = "pve"
    name         = "ftn-core"
    vm_id        = 9100
    cpu_cores    = 4
    memory_mb    = 4096
    disk_gb      = 40
    datastore_id = "local-lvm"
    bridge       = "vmbr0"
    qemu_agent   = true
  }
}
